@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/*********************
    Universal Styles
*********************/
*{
    margin: 0;
    padding: 0;
    font-family: "Great Vibes", cursive;
}

/*********************
    Header Styles
*********************/

#header{
   height:100vh;
   background-image:url(../images/background.png);
   background-position: center;
   background-size: cover;
}

.header-text{
    text-align: center;
}

h1{
    padding-top: 70px;
    font-size: 100px;
    color: #c61610;
}

.container{
   text-align: center; 
   margin-top: 300px;
}

.letter-text{
    display:inline-block;
    font-size: 30px;
    width: 600px;
    text-align: left;
    color:rgb(49, 48, 48)
}

h2{
    color: #c61610;
}

.list-text{
    display: inline-block;
text-align: left;
margin-left: 100px;
font-size: 30px;
}

